body{
  font-family: Arial, Helvetica, sans-serif;
}

.navbar{
  display: flex;
  height: 10vh;
  justify-content: space-around;
  background-color: rgb(22, 194, 194);
}

.heading-container{
  display: flex;
  justify-content: start;
}

.heading-header{
  font-size: 40px;
  margin-right: 800px;
  font-family: cursive;
}

.degree{
  margin-top: 30px;
}

.btn-degrees{
  padding: 10px;
  width: 5vw;
  margin-top: 105px;
  font-size: 20px;
}

.btn-degrees:hover{
  /* background-color:  */
  /* color:white; */
  cursor: pointer;
  border-width: 0.5px;
  border-radius: 10%;
}

.form-container, .input-container{
  display: flex;
  justify-content: center;
  margin: 20px;
}

.form-control{
  margin-right: 10px;
  padding:10px;
  width: 30vw;
  font-size: 20px;
  border: 1px solid grey;
  border-radius: 5px;
}

.search-btn{
  padding: 10px;
  width: 5vw;
  font-size: 20px;
  /* background-color:  */
}

.currentweather-conatiner{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-direction: column;
  width: 20%;
  /* height: 50%; */
  /* background-color: rgb(20, 167, 56); */
  background-color: rgb(211, 208, 208);
  border: 1px solid black;
  border-radius: 5px;
}

.location-name{
  font-size: 35px;
  /* display: flex; */
  /* padding-top:10px; */
}

.weather-short-description{
  font-size: 20px;
  margin-top: 5px;
  
}

.currentweather-degree{
  margin-top: 10px;
  font-size:3vw;
}

.d-flex{
  display: flex;
}

.high{
  padding-right: 20px;
}

